body{
    margin: 0;
    padding: 100px 0px;
    height: 100%;
    box-sizing: border-box;
    font-family:sans-serif;
    background-color: #FAF9EE;
}
h1{
    text-align: center;
    color: #1785eb;
    font-size: 45;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    background-color: #fff;
    
}
.our-team{
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 34px 25px 34px;
    padding: 30px 70px;
    width: 30%;
    border: 1px solid #4e5052;
    border-radius: 12px;
    height: 50%;

}

.our-team .pic{
    display:inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;

}

.our-team .pic::before{
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #1785eb;
    position: absolute;
    bottom: 135% ;
    right: 0;
    left: 0;
    opacity: 0.2;
    transform: scale(3);
    transition: all 0.3s linear 0s;
    
}
.our-team:hover .pic::before{
    height: 100%;
}

.our-team .pic:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #1785eb;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.our-team .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s; 
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);    

}

.our-team .content{
    margin-bottom: 30px;
}

.our-team .title{
    font-size:22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
}
.our-team .button button{
    border-color: #1785eb;
    background: #fff;
    border-radius: 12px;
    width: 100%;
    height: 30px;
    font-size: 19px;
    color: #1785eb;
}
